In [79]:
# import modules
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [44]:
# initialize browser
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA Mars News

In [14]:
# visit NASA site
url_nasa = "https://mars.nasa.gov/news/"
browser.visit(url_nasa)

time.sleep(1)

In [15]:
# parse into soup
html = browser.html
news_soup = bs(html, "html.parser")

In [25]:
# scrape news title
news_title = news_soup.body.find("div", class_='content_title').text
news_title

"What's Mars Solar Conjunction, and Why Does It Matter?"

In [26]:
# scrape paragraph text
news_p = news_soup.body.find("div", class_="article_teaser_body").text
news_p

'NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.'

## JPL Mars Space Images - Featured Image

In [45]:
# visit JPL site
url_jpl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_jpl)

time.sleep(1)

In [47]:
# click to see full image
full_image_button = browser.find_by_id("full_image")
full_image_button.click()

In [49]:
# parse full image page into soup
html_image = browser.html
image_soup = bs(html_image, "html.parser")

In [51]:
# find image jpg and add to url
image_url = image_soup.find("img", class_="fancybox-image")["src"]
featured_image_url = url_jpl + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/mediumsize/PIA16469_ip.jpg'

## Mars Weather

In [52]:
# visit mars weather twitter
url_twitter = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_twitter)

time.sleep(1)

In [53]:
# parse full image page into soup
html_twitter = browser.html
twitter_soup = bs(html_twitter, "html.parser")

In [76]:
# find first tweet text
mars_weather = twitter_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)\nwinds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)\npressure at 7.70 hPapic.twitter.com/MhPPOHJg3m'

## Mars Facts

In [88]:
# scrape Mars facts
facts_df = pd.read_html("https://space-facts.com/mars/")[1]
facts_df.columns = ["Fact", "Measurement"]
facts_df.set_index("Fact", inplace=True)
facts_df

                                        Measurement
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [89]:
facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'